<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zargess.VHKPlayer.Settings.GuiSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Zargess.VHKPlayer.Settings.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Zargess.VHKPlayer.Settings.GuiSettings>
            <setting name="auto10Sek" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="timeStatShown" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="scoringPlacement" serializeAs="String">
                <value>{0;20;0;0}</value>
            </setting>
            <setting name="penaltyPlacement" serializeAs="String">
                <value>{0;0;0;0}</value>
            </setting>
            <setting name="volume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minvolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxvolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="fadeDuration" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="fadeSound" serializeAs="String">
                <value>True</value>
            </setting>
        </Zargess.VHKPlayer.Settings.GuiSettings>
        <Zargess.VHKPlayer.Settings.Properties>
            <setting name="root" serializeAs="String">
                <value />
            </setting>
            <setting name="statsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="supportedPicture" serializeAs="String">
                <value>jpg;png</value>
            </setting>
            <setting name="supportedVideo" serializeAs="String">
                <value>avi;mp4</value>
            </setting>
            <setting name="supportedMusic" serializeAs="String">
                <value>mp3</value>
            </setting>
            <setting name="supportedInfo" serializeAs="String">
                <value>xml</value>
            </setting>
            <setting name="playLists" serializeAs="String">
                <value>{RekFørKamp;root\Rek;1;false;AllFilesSorted},{RekHalvej1;root\Rek;2;false;AllFilesSorted},{10sek;root\10sek;true;IteratedFolder},{FørKamp;root\FoerKamp;true;IteratedFolder}</value>
            </setting>
            <setting name="playerFolders" serializeAs="String">
                <value>root\spiller;root\spillervideo;root\spillervideostat;root\spillervideostat\mp3;root\spillervideostat\video</value>
            </setting>
            <setting name="musicFolder" serializeAs="String">
                <value>root\musik</value>
            </setting>
            <setting name="cardsFolder" serializeAs="String">
                <value>root\superhero</value>
            </setting>
            <setting name="miscFolder" serializeAs="String">
                <value>root\blandet</value>
            </setting>
            <setting name="playersOutFolder" serializeAs="String">
                <value>root\spillerud</value>
            </setting>
            <setting name="requiredFolders" serializeAs="String">
                <value>root\rek;root\10sek;root\spiller;root\spillervideo;root\spillervideostat;root\spillervideostat\mp3;root\spillervideostat\video</value>
            </setting>
            <setting name="auto10SekPlayList" serializeAs="String">
                <value>{10sek;root\10sek;true;IteratedFolder}</value>
            </setting>
            <setting name="playerPictureFolder" serializeAs="String">
                <value>root\spiller</value>
            </setting>
            <setting name="playerVideoFolder" serializeAs="String">
                <value>root\spillervideo</value>
            </setting>
            <setting name="playerStatPictureFolder" serializeAs="String">
                <value>root\spillervideostat</value>
            </setting>
            <setting name="playerStatVideoFolder" serializeAs="String">
                <value>root\spillervideostat\video</value>
            </setting>
            <setting name="playerStatMusicFolder" serializeAs="String">
                <value>root\spillervideostat\mp3</value>
            </setting>
        </Zargess.VHKPlayer.Settings.Properties>
    </userSettings>
</configuration>