<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zargess.VHKPlayer.Settings.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Zargess.VHKPlayer.Settings.Properties>
            <setting name="root" serializeAs="String">
                <value />
            </setting>
            <setting name="statsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="supportedPicture" serializeAs="String">
                <value>jpg;png</value>
            </setting>
            <setting name="supportedVideo" serializeAs="String">
                <value>avi;mp4</value>
            </setting>
            <setting name="supportedMusic" serializeAs="String">
                <value>mp3</value>
            </setting>
            <setting name="supportedInfo" serializeAs="String">
                <value>xml</value>
            </setting>
            <setting name="playLists" serializeAs="String">
                <value>{RekFørKamp;root\Rek;1;AllFilesSorted},{RekHalvej1;root\Rek;2;AllFilesSorted},{10sek;root\10sek;IteratedFolder}</value>
            </setting>
            <setting name="playerFolders" serializeAs="String">
                <value>root\spiller;root\spillervideo;root\spillervideostat;root\spillervideostat\mp3;root\spillervideostat\video</value>
            </setting>
            <setting name="musicFolder" serializeAs="String">
                <value>root\musik</value>
            </setting>
            <setting name="cardsFolder" serializeAs="String">
                <value>root\superhero</value>
            </setting>
            <setting name="miscFolder" serializeAs="String">
                <value>root\blandet</value>
            </setting>
            <setting name="playersOutFolder" serializeAs="String">
                <value>root\spillerud</value>
            </setting>
            <setting name="requiredFolders" serializeAs="String">
                <value>root\rek;root\10sek;root\spiller;root\spillervideo;root\spillervideostat;root\spillervideostat\mp3;root\spillervideostat\video</value>
            </setting>
        </Zargess.VHKPlayer.Settings.Properties>
    </userSettings>
</configuration>