<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Zargess.VHKPlayer.Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Zargess.VHKPlayer.Settings.Settings>
            <setting name="root" serializeAs="String">
                <value />
            </setting>
            <setting name="statfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="limits" serializeAs="String">
                <value>temp,Arkiv - Sct Mathias Centret - Benyttes igen efter, originaler,normalized,arkiv,konverteret,spiller,spillervideo,spillervideostat</value>
            </setting>
            <setting name="requiredFolders" serializeAs="String">
                <value>musik,rek,spiller,spillervideo,spillervideostat,10sek,scorrek,foerkamp</value>
            </setting>
            <setting name="sortedPlayLists" serializeAs="String">
                <value>rek,{RekFørKamp;1},{RekHalvej1;2},{RekHalvej2;3},{RekEfterKamp;4}</value>
            </setting>
            <setting name="specialPlayLists" serializeAs="String">
                <value>{10sek;10sek},{ScorRek;ScorRek},{FørKamp;FoerKamp}</value>
            </setting>
            <setting name="supportedPicture" serializeAs="String">
                <value>jpg;png</value>
            </setting>
            <setting name="supportedVideo" serializeAs="String">
                <value>avi;mp4</value>
            </setting>
            <setting name="supportedMusic" serializeAs="String">
                <value>mp3</value>
            </setting>
        </Zargess.VHKPlayer.Settings.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
