<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VHKPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <VHKPlayer.Properties.Settings>
            <setting name="folder_supportedVideo" serializeAs="String">
                <value>.avi;.mp4</value>
            </setting>
            <setting name="folder_supportedAudio" serializeAs="String">
                <value>.mp3</value>
            </setting>
            <setting name="folder_supportedPicture" serializeAs="String">
                <value>.png;</value>
            </setting>
            <setting name="folder_root" serializeAs="String">
                <value />
            </setting>
            <setting name="folder_playerStatPictureFolder" serializeAs="String">
                <value>root\spillervideostat</value>
            </setting>
            <setting name="folder_playerPictureFolder" serializeAs="String">
                <value>root\spiller</value>
            </setting>
            <setting name="folder_playerVideoFolder" serializeAs="String">
                <value>root\spillervideo</value>
            </setting>
            <setting name="folder_playerStatVideoFolder" serializeAs="String">
                <value>root\spillervideostat\video</value>
            </setting>
            <setting name="folder_playerStatMusicFolder" serializeAs="String">
                <value>root\spillervideostat\mp3</value>
            </setting>
            <setting name="folder_ignore" serializeAs="String">
                <value />
            </setting>
            <setting name="folder_playerStatisticInformation" serializeAs="String">
                <value>C:\Users\Marcus\Documents\GitHub\VHKPlayer\DigiMatch</value>
            </setting>
            <setting name="folder_playableFileFolders" serializeAs="String">
                <value>root\musik\andet;root\musik\langtmusik;root\musik\opvarmning;root\musik\pausemusik;root\musik\scor;root\musik\scorud;root\musik\spilstop;root\musik\stemning;root\musik\timeout;root\blandet;root\superhero;root</value>
            </setting>
            <setting name="folder_playlists" serializeAs="String">
                <value>{RekFørKamp;root\Rek;false;1;Sorted;AllFiles},{RekHalvej1;root\Rek;false;2;Sorted;AllFiles},{10Sek;root\10Sek;false;0;Folder;Iterated}</value>
            </setting>
            <setting name="folder_supportedInfoFile" serializeAs="String">
                <value>xml;txt</value>
            </setting>
            <setting name="application_autoPlaylist" serializeAs="String">
                <value>10Sek</value>
            </setting>
            <setting name="application_tabs" serializeAs="String">
                <value>{Andet;LeftMain;2;(folder path:"root\musik\andet");False;SingleFile},{Opvarmning;LeftMain;1;(folder path:"root\musik\Opvarmning");False;SingleFile},{Scor;LeftMain;3;(property name:Trainer value:False);False;SingleFile},{Player Picture;RightMain;2;(type name:Player);False;PlayerPicture},duringmatch,{Player Picture;LeftDuringMatch;1;(type name:Player);False;PlayerPicture},{Player Stat;LeftDuringMatch;1;(multi left:(type name:Player) right:(property name:Trainer value:False));False;PlayerPicture}</value>
            </setting>
            <setting name="application_statTimerDelay" serializeAs="String">
                <value>10</value>
            </setting>
        </VHKPlayer.Properties.Settings>
    </userSettings>
</configuration>