<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VHKPlayer.Utility.FolderProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <VHKPlayer.Utility.FolderProperties>
            <setting name="supportedMusic" serializeAs="String">
                <value>.mp3</value>
            </setting>
            <setting name="supportedPicture" serializeAs="String">
                <value>.png;.jpeg</value>
            </setting>
            <setting name="supportedVideo" serializeAs="String">
                <value>.avi</value>
            </setting>
            <setting name="supportedInfo" serializeAs="String">
                <value>.xml</value>
            </setting>
            <setting name="requiredFolders" serializeAs="String">
                <value>root\10sek;root\spiller;root\musik</value>
            </setting>
            <setting name="root" serializeAs="String">
                <value>C:\Users\Marcus\Dropbox\Programmering\C#\vhk</value>
            </setting>
            <setting name="playerFolderPicture" serializeAs="String">
                <value>root\spiller</value>
            </setting>
            <setting name="playerFolderVideo" serializeAs="String">
                <value>root\spillervideo</value>
            </setting>
            <setting name="playerFolderStatPicture" serializeAs="String">
                <value>root\spillervideostat</value>
            </setting>
            <setting name="playerFolderStatVideo" serializeAs="String">
                <value>root\spillervideostat\video</value>
            </setting>
            <setting name="playerFolderStatMusic" serializeAs="String">
                <value>root\spillervideostat\mp3</value>
            </setting>
            <setting name="statFolder" serializeAs="String">
                <value>C:\Users\Marcus\Documents\GitHub\VHKPlayer\DigiMatch</value>
            </setting>
            <setting name="timeStatShown" serializeAs="String">
                <value>5</value>
            </setting>
        </VHKPlayer.Utility.FolderProperties>
    </userSettings>
</configuration>