<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Zargess.VHKPlayer.SettingsManager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Zargess.VHKPlayer.SettingsManager.Settings>
            <setting name="supportedPicture" serializeAs="String">
                <value>jpg;png</value>
            </setting>
            <setting name="supportedVideo" serializeAs="String">
                <value>avi;mp4</value>
            </setting>
            <setting name="supportedMusic" serializeAs="String">
                <value>mp3</value>
            </setting>
            <setting name="root" serializeAs="String">
                <value />
            </setting>
            <setting name="allFilesSortedPlayLists" serializeAs="String">
                <value>{RekFørKamp;root\Rek;1},{RekHalvej1;root\Rek;2}</value>
            </setting>
            <setting name="iteratedFolderPlayLists" serializeAs="String">
                <value>{10sek;root\10sek}</value>
            </setting>
            <setting name="supportedInfo" serializeAs="String">
                <value>xml</value>
            </setting>
            <setting name="playerFolders" serializeAs="String">
                <value>root\spiller;root\spillervideo;root\spillervideostat;root\spillervideostat\mp3;root\spillervideostat\video</value>
            </setting>
        </Zargess.VHKPlayer.SettingsManager.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.3"/></startup></configuration>
