<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VHKPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <VHKPlayer.Properties.Settings>
            <setting name="supportedVideo" serializeAs="String">
                <value>avi;mp4</value>
            </setting>
            <setting name="supportedAudio" serializeAs="String">
                <value>mp3</value>
            </setting>
            <setting name="supportedPicture" serializeAs="String">
                <value>png;</value>
            </setting>
            <setting name="playerFolders" serializeAs="String">
                <value>root\spiller;root\spillervideo;root\spillervideostat\root\spillervideostat\mp3;root\spillervideostat\video</value>
            </setting>
            <setting name="root" serializeAs="String">
                <value />
            </setting>
            <setting name="statPictureFolder" serializeAs="String">
                <value>root\spillervideostat</value>
            </setting>
        </VHKPlayer.Properties.Settings>
    </userSettings>
</configuration>